[submodule "repos/markdown"]
	path = repos/markdown
	url = git://github.com/ujihisa/vim-markdown.git
[submodule "externals/cucumber"]
	path = externals/cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "externals/vim-ruby"]
	path = externals/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "externals/vim-vividchalk"]
	path = externals/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "externals/fuzzy_file_finder"]
	path = externals/fuzzy_file_finder
	url = git://github.com/jamis/fuzzy_file_finder.git
[submodule "externals/vim-coffee-script"]
	path = externals/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "externals/git-vim"]
	path = externals/git-vim
	url = http://github.com/Shougo/git-vim.git
[submodule "externals/gist-vim"]
	path = externals/gist-vim
	url = http://github.com/mattn/gist-vim.git
[submodule "externals/vim-task"]
	path = externals/vim-task
	url = http://github.com/tswicegood/vim-task.git
[submodule "externals/pathogen"]
	path = externals/pathogen
	url = git://github.com/tpope/vim-pathogen.git
